
body{ 
    background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(156, 156, 156));
}
div.menu {
    position: absolute;
    right: 30px;
    background-color: #000000;
    padding: 10px;
    text-align: justify;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: #6b6b6b;
}
h1{
    font-family: 'Arial', sans-serif;
    color: #a5a5a5;
}
h2{
    font-family: 'Arial', sans-serif;
    color: #444;
}
a{
    color: #707070;
    text-decoration: none;
}

body.escuro { 
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(49, 58, 57));
}
li {
    font-family: 'Courier New', Courier, monospace;
    color: #555;
}
img{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
